/*

动画效果

*/

//从左往右运动
@keyframes moveLeftToRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

//上下小幅度运动
@keyframes translateY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

//呼吸缩小动画
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}


//闪烁动画
@keyframes twinkle_white {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(100%);
  }
}

//旋转动画
@keyframes rotateZ {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

//宽度100%动画
@keyframes width100 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


//从下至上出现
@keyframes showTop {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
//从下至上出现
@keyframes showRight {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
