/**


scss 文件 edit by tx.Sean 用于维护 for 大平台后台重构
公用样式表


**/
@import "_animate";

//清除默认样式 +  常用class
body {
  margin: 0;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

@font-face {
  font-family:MFLiHei;
  src: url('../fonts/MFLiHei_Noncommercial-Regular.otf');
}

video {
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

a:focus {
  outline: none;
}
button{
  outline: none;
  border: none;
}
button:focus {
  outline: none;
}

img {
  border: none;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, address, figure, figcaption, nav, menu {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

input:-webkit-autofill {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

input::-webkit-input-placeholder {
  color: #6491A2;
}

select {
  option {
    color: black !important;
  }
}

em, i {
  font-style: normal;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.clear {
  *zoom: 1;
}

.clear:before, .clear:after {
  display: table;
  content: "";
  line-height: 0;
}

.clear:after {
  clear: both;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}
.width100{
  width: 100% !important;
}

.font-red {
  color: #FF0101 !important;
}

* {
  box-sizing: border-box;
  line-height: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

@function px2vw($n) {
  @return $n/1920*100vw;
}

@function px2vh($n) {
  @return $n/1080*100vh;
}

//模糊class
.filter {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

@mixin whiteSpace($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin border{
  border: 1px solid #064C63 ;
  border-image: -webkit-linear-gradient(top, #064C63 0%, transparent 50%, #064C63 100%) 1 1 1 1;
}

@mixin corner{
  position: relative;
  &::before,&::after{
    content: '';
    position: absolute;
    width: px2vw(11);
    height: px2vw(9);
    background-size: contain;
    background-image: url("../img/icon/corner-right.png");
    background-repeat: no-repeat;
  }
  &::before{
    right:px2vw(-1);
    top: px2vw(-2);
  }
  &::after{
    left: px2vw(-1);
    bottom: px2vw(-1);
    transform: rotateZ(180deg);
  }
}


@mixin hasCheckBox {
  user-select: none;
  display: flex;
  align-items: center;
  .checkbox {
    width: px2vw(21);
    height: px2vw(21);
    background: rgba(2, 5, 11, 0.50);
    border: 1px solid #029ACD;
    margin-right: px2vw(10);
    position: relative;

    &::after {
      content: '';
      width: px2vw(1);
      height: px2vw(1);
      background: transparent;
      position: absolute;
      transition: .2s width ease, .2s height ease, .2s background ease;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.active {
    .checkbox {
      &::after {
        width: px2vw(13);
        height: px2vw(13);
        background: #029ACD;
        transition: .2s width ease, .2s height ease, .2s background ease;
      }
    }
  }
}

@mixin inputStyle{
  background: rgba(1,10,18,0.80);
  border: 1px solid #046383;
  color: #ffffff;
  font-size: px2vw(14);
  outline: none;
}

@mixin checkBox{
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  &::before{
    width: px2vw(16);
    height: px2vw(16);
    transition: .1s all ease;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/icon/checkbox.png");
    margin-right: px2vw(13);
  }
  &.active{
    &::before{
      transition: .1s all ease;
      background-image: url("../img/icon/checkbox.active.png");
    }
  }
}



//所有页面背景
.wrap {
  width: 100vw;
  position: relative;
  min-height:100vh;
  background: url("../img/icon/bg.jpg");
  background-size: contain;
  padding-bottom: px2vw(20);
  &.scroll {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10vh;
  }
}


.inputFileWrap {
  width: 100%;
  position: relative;
  height: 34px;

  input[type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
  }

  input[type='text'] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
}



.form {
  display: flex;
  align-content: flex-end;
  .label_part{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    label,.label {
      display: flex;
      width: 24%;
      align-items: center;
      background: rgba(1, 10, 18, 0.80);
      border: 1px solid #046383;
      height: px2vw(33);
      margin-right: px2vw(6);
      >span {
        font-size: px2vw(12);
        color: #A1CBE1;
        flex-shrink: 0;
        padding: 0 px2vw(4) 0 px2vw(9);
        border-right: 1px solid #003040;
        line-height: px2vw(30);
      }

      input[type='text'], select {
        border: none;
        outline: none;
        background: transparent;
        font-size: px2vw(12);
        color: #A1CBE1;
        padding-left: .5em;
        width: 100%;
      }
    }
  }

  button {
    background: #27CCD8;
    border: none;
    height: px2vw(33);
    width: px2vw(90);
    flex-shrink: 0;
    font-size: px2vw(16);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;
    &::before {
      content: '';
      width: px2vw(16);
      height: px2vw(16);
      flex-shrink: 0;
      background-size: contain;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23000000' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'%3E%3C/path%3E %3C/svg%3E") no-repeat;
      margin-right: px2vw(6);
    }
    &.exportBtn{
      margin-left: px2vw(10);
      &::before {
        background-size: contain;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23000000' d='M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z'%3E%3C/path%3E %3C/svg%3E") no-repeat 50% 50%;
      }
    }
  }
}

.layui-laydate-header {
  line-height: 30px !important;

  .laydate-set-ym {
    span {
      line-height: 30px;
    }
  }
}


.table {
  width: 100%;
  border-spacing: 0;
  tr {
    th {
      background: rgba(4, 67, 107, 0.69);
      height: px2vw(42);
      font-size: px2vw(16);
      color: #A1CBE1;
      padding: 0;
      &.otherColor{
        background: #075689;
      }
      .checkBoxAll{
        cursor: pointer;
        width: px2vw(18);
        height: px2vw(18);
        display: inline-block;
        background-image: url("../img/icon/checkbox.png");
        background-size: contain;
        background-repeat: no-repeat;
        &.active{
          background-image: url("../img/icon/checkbox.active.png");
        }
      }
    }

    td {
      height: px2vw(49);
      font-size: px2vw(15);
      color: #A1CBE1;
      border-bottom: 1px solid #03202F;
      text-align: center;
      .checkBox{
        cursor: pointer;
        width: px2vw(18);
        height: px2vw(18);
        display: inline-block;
        background-image: url("../img/icon/checkbox.png");
        background-size: contain;
        background-repeat: no-repeat;
        &.active{
          background-image: url("../img/icon/checkbox.active.png");
        }
      }
      .link{
        color: #F8D500;
      }
      &.otherColor{
        background: rgba(0,0,0,0.16);
      }
      &.row_title {
        background: rgba(3, 52, 86, 0.42);
        color: #DFF2FC;
      }
      img{
        width: px2vw(100);
        height: px2vw(100);
        margin: px2vw(5) 0;
      }
    }

    &:hover{
      td{
        background: rgba(3, 50, 82, 0.68);
        color: #00EBFF;
      }
    }
  }
}


.layui-layer-diy {
  &.layui-layer {
    background: transparent;
  }

  .layui-layer-content {
    overflow: visible !important;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: px2vw(8);
  ul {
    display: flex;

    > li {
      > a, span {
        float: left;
        padding: px2vw(5) px2vw(11);
        font-size: px2vw(14);
        line-height: px2vw(20);
        color: #C4EBFF;
        background: rgba(65, 167, 191, 0.20);
        box-shadow: inset 0 0 45px 0 rgba(32, 101, 143, 0.35);
        border: 1px solid rgba(65, 167, 191, 0.20);
        margin-left: px2vw(5);

        &.noBg {
          background: none;
          box-shadow: none;
          border-color: transparent;
        }
      }

      &:first-of-type, &:last-of-type {
        a {
          font-weight: bold;
          padding: px2vw(8) px2vw(10);
          line-height: 1;
          text-align: center;
          border: 1px solid #8EC3DF;
          box-shadow: inset 0 0 45px 0 rgba(32, 101, 143, 0.35);

          &:hover {
            color: #ffffff;
          }
        }
      }

      &.active, &:hover {
        a {
          background: #9BDCFE;
          box-shadow: 0 0 13px 0 rgba(123, 246, 255, 0.74);
          color: #0B0D1F;
          border: 1px solid #9BDCFE;
        }
      }

    }
  }

  > label {
    > input {
      width: px2vw(40);
      height: px2vw(20);
      font-size: px2vw(14);
      color: #C4EBFF;
      border: 1px solid #7BF6FF;
      box-shadow: inset 0 0 45px 0 rgba(32, 101, 143, 0.35);
      background: rgba(65, 167, 191, 0.20);
      text-align: center;
      box-sizing: content-box;
    }

    font-size: px2vw(15);
    line-height: 1;
    color: #C4EBFF;
    margin: 0 px2vw(10);
  }

  > button {
    border: 1px solid #7BF6FF;
    box-shadow: inset 0 0 45px 0 rgba(32, 101, 143, 0.35);
    background: rgba(65, 167, 191, 0.20);
    color: #C4EBFF;
    width: px2vw(50);
    height: px2vw(20);
    line-height: px2vw(20);
    font-size: px2vw(14);
    cursor: pointer;
    box-sizing: content-box;

    &:hover {
      color: #0B0D1F;
      background: #7BF6FF;
      box-shadow: 0 0 13px 0 rgba(123, 246, 255, 0.74);
    }
  }

  .num_select{
    border: 1px solid #046383;
    margin-left: px2vw(36);
    select{
      background: rgba(1,10,18,0.80);
      font-size: px2vw(14);
      color: #A1CBE1;
      height: px2vw(33);
      border: none;
      outline: none;
    }
  }
  &::after{
    content: '';
    width: px2vw(120);
    height: px2vw(1);
  }
}



